:root {
  --branco: #fff;
  --preto: #212121;
  --verde: #009688;
  --vermelho: #f44336;
  --roxo: #673ab7;
  --laranja: #ff9800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--branco);
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
}

.bg-verde {
  background-color: var(--verde);
}

.bg-vermelho {
  background-color: var(--vermelho);
}

.bg-roxo {
  background-color: var(--roxo);
}

.bg-laranja {
  background-color: var(--laranja);
}

.texto-laranja {
  color: var(--laranja);
}

.texto-roxo {
  color: var(--roxo);
}

.texto-verde {
  color: var(--verde);
}

.texto-vermelho {
  color: var(--vermelho);
}

.container-centralizado {
  margin: 0 auto;
  max-width: 1080px;
  width: 90%;
}

.cabecalho {
  background-color: var(--preto);
  color: var(--branco);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botao-cabecalho {
  font-size: 18px;
  padding: 10px 15px;
  background-color: transparent;
  color: var(--branco);
  padding-top: 30px;
}

.botao-cabecalho:hover {
  filter: brightness(90%);
}

.cabecalho .conteudo-cabecalho nav {
  height: 100%;
}

.cabecalho .conteudo-cabecalho nav ul {
  height: 100%;
  display: flex;
  align-items: center;
}

.grupo-aba {
  height: 100%;
  margin: 0 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.barrinha-horizontal {
  height: 8px;
  border-radius: 2px;
}

#barra-piaui {
  display: block;
}

#barra-brasil {
  display: none;
}

.container-cards-dados {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-dados {
  min-width: 150px;
  border: 1px solid #dbe9f5;
  padding: 10px;
  border-radius: 8px;
  margin: 8px;
}

.selecao-abas {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.selecao-abas h3 {
  padding-left: 8px;
}

.abas {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
}

.abas .grupo-aba {
  margin: 8px;
}

.botao-aba {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  padding: 10px 15px;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-mapa {
  min-width: 200px;
  max-height: 1000px;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.mapa {
  height: 800px;
}

.card {
  min-width: 200px;
  max-height: 600px;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.card-cabecalho {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-titulo {
  margin-left: 20px;
}

.card-rodape {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: #616161;
}

footer.rodape {
  margin-top: 50px;
}

.colaboradores {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-bottom: 30px;
}

.colaboradores-cabecalho {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  padding: 10px;
}

.colaboradores-cabecalho h3 {
  margin-left: 20px;
}

.colaboradores-conteudo {
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colaborador {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: var(--preto);
  margin: 12px;
}

.colaborador:hover {
  filter: brightness(80%);
}

.colaborador img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.colaborador div {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}

.colaborador div p {
  color: gray;
}

.colaboradores-rodape {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.botao-github {
  height: 100%;
  width: 250px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: rgb(51, 51, 51, 0.9);
  color: var(--branco);
  text-decoration: none;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.botao-github:hover {
  filter: brightness(80%);
}

.conteudo-botao-github {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.conteudo-botao-github p {
  margin-left: 10px;
}

@media (max-width: 630px) {
  nav {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: white;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
  }

  .secao-menu.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    z-index: 10;
  }

  .secao-menu.on nav {
    display: block;
  }

  .secao-menu.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .secao-menu.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .secao-menu.on .menu-toggle .two {
    opacity: 0;
  }

  .secao-menu.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .secao-menu.on nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .secao-menu.on nav ul {
    width: 100%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .grupo-aba {
    max-height: 20%;
  }

  .card-mapa {
    max-height: 600px;
  }

  .mapa {
    height: 500px;
  }
}

@media (max-width: 420px) {
  p {
    font-size: 80%;
  }

  .card-titulo,
  h3 {
    font-size: 90%;
  }

  .card-titulo {
    margin-left: 3px;
  }

  .cabecalho {
    width: 100%;
  }

  .container-cards-dados {
    display: flex;
    justify-content: center;
  }

  .colaboradores-conteudo {
    display: flex;
    justify-content: center;
  }

  .colaborador img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
